<div class="card" style="min-width: 25%">
    <img src="{{ ad.image_url }}" class="card-img-top" alt="advertise image" style="max-height: 500px">
        <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text"> {{ ad.description }}</p>
        </div>
        <div class="card-footer">
            <a href="/advertise/{{ ad.id }}"><small class="btn btn-secondary"> click here </small></a>
            <a href="/advertiseDetail/{{ ad.id }}"><small class="btn btn-secondary"> details are here </small></a>
        </div>
</div>