{% extends 'shared/_MainLayout.html' %}

{% block content %}

    <div class="card border-secondary mb-3" style="max-width: auto; margin: 10px;">
        <div class="card-header bg-transparent border-secondary">{{ advertiser.user.username }}</div>
        <div class="card-body text-secondary">
            <h5 class="card-title"> advertises :) </h5>
            <div class="card-group">
                {% for advertise in advertiser.get_ads %}
                    {% include 'Advertise_Component.html' with ad=advertise %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}